html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

#landing p {
  font-size: 18px;
  line-height: 1.6;
  color: #5c5d67;
}

.footer {
  background-color: #243B53;
  flex-shrink: 0;
}

.btn-primary {
  color: white;
  background-color: #F364A2 !important;
  border-color: #F364A2 !important;
}

.btn-primary:hover {
  color: white;
  background-color: #F364A2 !important;
  border-color: #F364A2 !important;
}

.btn-primary:focus {
  color: white;
  background-color: #F364A2 !important;
  border-color: #F364A2 !important;
  box-shadow: 0 0 0 3px rgba(243, 100, 162, 0.5) !important;
}

.btn-primary:active {
  color: white;
  background-color: #F364A2 !important;
  border-color: #F364A2 !important;
  box-shadow: 0 0 0 3px rgba(243, 100, 162, 0.5) !important;
}

.btn-outline-primary {
  color: #F364A2;
  background-color: white !important;
  border-color: #F364A2 !important;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #F364A2 !important;
  border-color: #F364A2 !important;
}

.btn-outline-primary:focus {
  color: white;
  background-color: #F364A2 !important;
  border-color: #F364A2 !important;
  box-shadow: 0 0 0 3px rgba(243, 100, 162, 0.5) !important;
}

.btn-outline-primary:active {
  color: white;
  background-color: #F364A2 !important;
  border-color: #F364A2 !important;
  box-shadow: 0 0 0 3px rgba(243, 100, 162, 0.5) !important;
}

.section-spacer-xs {
  height: 40px;
  width: 100%;
}

.section-spacer-sm {
  height: 80px;
  width: 100%;
}

.section-spacer-md {
  height: 160px;
  width: 100%;
}

.section-spacer-lg {
  height: 240px;
  width: 100%;
}

@media (max-width: 767.98px) {
  .section-spacer-xs {
    height: 30px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .section-spacer-sm {
    height: 60px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .section-spacer-md {
    height: 90px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .section-spacer-lg {
    height: 120px;
    width: 100%;
  }
}

.section-light {
  background-color: #F0F4F8;
}

ul.no-bullet-list {
  padding-left: 0;
  list-style-type: none;
}

ul.social-list {
  padding-left: 0;
}

li.social-item {
  display: inline-block;
  padding-inline-end: 40px;
}

@media (max-width: 767.98px) {
  li.social-item {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
}

.jumbotron h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 48px;
}

@media (max-width: 767.98px) {
  .jumbotron h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 32px;
  }
}

.jumbotron p {
  font-size: 18px;
}

@media (max-width: 767.98px) {
  .jumbotron p {
    font-size: 16px;
  }
}

.underscore-sm {
  background-color: #FD79A8;
  height: 3px;
  width: 40px;
}

.underscore-md {
  background-color: #FD79A8;
  height: 5px;
  width: 80px;
}

.number-circle-container {
  align-items: center;
  background: #5ED0FA;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.star-rating i {
  color: #F7C948;
}

.check-mark {
  color: #F364A2;
}

.report-quote a {
  color: #F364A2 !important;
}
